.profiles{
    margin:1rem;
}
.profile{
    padding:0;
}
.profile-header{
    height: 50px;
    width:50px;
    padding-bottom:1rem;
    margin:auto;
    text-align: center
}
.profile-content{
    text-align:center;
    padding:1rem 0;
}
.profile-footer{
    padding-bottom:1rem;
}